# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

DATABASE_URL="postgres://postgres.<url>:<password>@<url>.supabase.co:5432/postgres"
SUPABASE_SERVICE_ROLE_KEY="<service-role-key>"
NEXT_PUBLIC_SUPABASE_URL="https://<url>.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="<anon-key>"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_<pk-key>"
STRIPE_SECRET_KEY="sk_test_<sk-key>"
STRIPE_WEBHOOK_SECRET="whsec_<whsec-key>"
OPENAI_API_KEY="<openai-key>"
NEXT_PUBLIC_PROJECT_ID="<supabase-project-id>"